snippet bash
	\`\`\`bash
	${1}
	\`\`\`

snippet python
	\`\`\`python
	${1}
	\`\`\`

snippet info Add a Info Box
	>[!NOTE] ${1:Title}
	> ${2:Body}

snippet tip Add a Tip Box
	>[!TIP] ${1:Title}
	> ${2:Body}

snippet important Add a Important Box
	>[!IMPORTANT] ${1:Title}
	> ${2:Body}

snippet warning Add a Warning Box
	>[!WARNING] ${1:Title}
	> ${2:Body}

snippet caution Add a Caution Box
	>[!CAUTION] ${1:Title}
	> ${2:Body}
