* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: #232225; /* {< replace_color(colors.base) >} */
    color: #807d85; /* {< replace_color(colors.muted) >} */
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid #807d85; /* {< replace_color(colors.muted) >} */
}


tooltip {
  background: #1b1a1c; /* {< replace_color(colors.surface) >} */
  border: 1px solid #4d4b51; /* {< replace_color(colors.overlay) >} */
  margin: 12px;
}
tooltip label {
  color: #d4d0d2; /* {< replace_color(colors.text) >} */
}

#tray {
  margin-left: 60px;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: #cfa7c3; /* {< replace_color(colors.fg_magenta) >} */
    border-top: 2px solid #cfa7c3; /* {< replace_color(colors.fg_magenta) >} */
}

#workspaces button {
    padding: 0 4px;
    color: #d4d0d2; /* {< replace_color(colors.text) >} */
    background-color: #1b1a1c; /* {< replace_color(colors.surface) >} */
    border-bottom: 1px solid #807d85; /* {< replace_color(colors.muted) >} */
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #d4d0d2; /* {< replace_color(colors.text) >} */
    border-top: 2px solid #d0ad99; /* {< replace_color(colors.fg_accent_2) >} */
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #cfa7c3; /* {< replace_color(colors.fg_magenta) >} */
    border-top: 2px solid #cfa7c3; /* {< replace_color(colors.fg_magenta) >} */
}

#workspaces button.urgent {
    background-color: #e59db3; /* {< replace_color(colors.fg_red) >} */
}

#pulseaudio,
#clock,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
    border-bottom: 2px solid #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
}

#clock.date {
    color: #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
    border-bottom: 2px solid #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
}

#pulseaudio {
    color: #9db8d9; /* {< replace_color(colors.fg_blue) >} */
    border-bottom: 2px solid #9db8d9; /* {< replace_color(colors.fg_blue) >} */
}

#bluetooth {
    color: #90bec7; /* {< replace_color(colors.fg_cyan) >} */
    border-bottom: 2px solid #90bec7; /* {< replace_color(colors.fg_cyan) >} */
}

#network {
    color: #bbb884; /* {< replace_color(colors.fg_yellow) >} */
    border-bottom: 2px solid #bbb884; /* {< replace_color(colors.fg_yellow) >} */
}

#idle_inhibitor {
    margin-right: 12px;
    color: #aebb99; /* {< replace_color(colors.fg_green) >} */
}

#idle_inhibitor.activated {
    color: #e59db3; /* {< replace_color(colors.fg_red) >} */
}

#battery {
    color: #aebb99; /* {< replace_color(colors.fg_green) >} */
    border-bottom: 2px solid #aebb99; /* {< replace_color(colors.fg_green) >} */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: #9db8d9; /* {< replace_color(colors.fg_accent_3) >} */
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-media {
    color: #d5a7b4; /* {< replace_color(colors.fg_accent_5) >} */
}

#custom-weather {
    color: #bbb884; /* {< replace_color(colors.fg_yellow) >} */
}

#custom-ram {
    color: #b2b99a; /* {< replace_color(colors.fg_accent_4) >} */
}
