

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
  border-radius: 8px;
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: #d4d0d2; /* {< replace_color(colors.text) >} */
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

#input image {
    border: none;
    color: #e59db3; /* {< replace_color(colors.fg_red) >} */
}

#input * {
  outline: 4px solid #e59db3; /* {< replace_color(colors.fg_red) >} */!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #d4d0d2; /* {< replace_color(colors.text) >} */
}

#entry {
  background-color: #232225; /* {< replace_color(colors.base) >} */
}

#entry arrow {
  border: none;
  color: #d0ad99; /* {< replace_color(colors.fg_accent_2) >} */
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #d0ad99; /* {< replace_color(colors.fg_accent_2) >} */
}

#entry:selected #text {
  color: #baadd7; /* {< replace_color(colors.fg_accent_1) >} */
}

#entry:drop(active) {
  background-color: #9db8d9; /* {< replace_color(colors.fg_accent_3) >} */!important;
}
